.redclr{
    background-color: brown;
}

#blue{
    background-color: blueviolet;
}

h1{
    text-align: center;
}
div{
    text-align: center;
    padding-left: 37%;
   
}
body{
    background-color: burlywood;
}